{
  "name": "{{.AppName}}",
  "version": "1.0.0",
  "type": "module",
  "scripts": {
    "start": "node index.js",
    "dev": "node --watch index.js"
  },
  "dependencies": {
    "@prisma/client": "^5.14.0",
    "express": "^4.19.2"{{if .HasAuth}},
    "bcryptjs": "^2.4.3",
    "jsonwebtoken": "^9.0.2"{{end}}
  },
  "devDependencies": {
    "prisma": "^5.14.0"
  }
}
