{{range .M2MImports}}import type { {{.RefType}} } from '{{.ImportPath}}';
{{end}}export interface {{.StructName}} {
  id: number;
{{range .Fields}}  {{.Name}}{{if not .Required}}?{{end}}: {{.TSType}};
{{end}}{{range .M2MFields}}  {{.FieldName}}?: {{.TSType}}[];
{{end}}  created_at: string;
  updated_at: string;
  deleted_at?: string;
}

export type Create{{.StructName}}Input = {
{{range .Fields}}  {{.Name}}: {{if .IsOptionalFK}}{{.TSType}} | null{{else}}{{.TSType}}{{end}};
{{end}}{{range .M2MIDFields}}  {{.IDsField}}: number[];
{{end}}};
